
@model Passion_Project.Models.ViewModels.ShowArtist
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<div class="navbar">
    <a class="navlink" href="/Artist/List">Back to List</a>
    <a class="navlink" href="/Artist/Update/@Model.artist.ArtistID">Update</a>
    <a class="navlink" href="/Artist/DeleteConfirm/@Model.artist.ArtistID">Delete</a>
</div>
<div>
    <span>Name : </span>@Model.artist.ArtistName<br/>
    <span>DOB</span>@Model.artist.ArtistDOB<br/>
    <span>Email:</span>@Model.artist.ArtistEmail<br/>
    <span>Contact:</span>@Model.artist.ArtistContact<br/>
</div>

<div class="col2last">
    <div class="sectionheader">Poetries Written:</div>
    @{

        foreach (var poetries in @Model.poetries)
        {
            <div class="lineitem">
                <a href="/Poetry/Show/@poetries.poetryID">@poetries.poetryName</a>
                @{
                    //Rare instance of a double GET parameter
                    //we are passing a link which contains the ownerID and petID
                }
                <a href="/Artist/DetachPoetry/@Model.artist.ArtistID?PoetryID=@poetries.poetryID">
                    Remove Poetry
                </a>
            </div>
        }

    }
   

